<form id="add" class="form-inline" role="form">
	<header>
		<input type="text"  class="form-control pull-left" value="" name="productname" placeholder="Search">
	</header>
	<div class="results">
		<ul class="list-group items">
	  		<li class="list-group-item">
	  			<span><b>Bie</b>r</span>
	  		</li>
	  		<li class="list-group-item">
	  			<span><b>Bie</b>tjes</span>
	  		</li>
	  	</ul>
  	</div>
  	<div class="order">
	  	<div class="priceinfo"><span class="price">0,00</span>€</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default cart">Next</button>
			<!--
			<button type="button" class="btn btn-default splash"><a>Go back</a></button>
			-->
		</div>
	</div>
</form>
