<header class="app-header">
</header>
<form id="add" class="form-inline" role="form">
	<header>
		<input type="text"  class="form-control pull-left" value="" name="productname" placeholder="Search">
	</header>
	<div class="results">
		<ul class="list-group items">
	  		<li class="list-group-item">
	  			<span><b>Bie</b>r</span>
	  		</li>
	  		<li class="list-group-item">
	  			<span><b>Bie</b>tjes</span>
	  		</li>
	  	</ul>
  	</div>
  	<div class="noresults">
  		<img src="/images/logo-transparent.png" />
  	</div>
  	<div class="order">
  		<canvas id="transport" width="640" height="80"></canvas>
	  	<div class="priceinfo">€<span class="price">0,00</span> + €<span class="transport">0</span></div>
		<div class="btn-group">
			<button type="button" class="btn btn-default cart">Next</button>
		</div>
	</div>
</form>
