<form class="form-inline" role="form">
	<input type="text"  class="form-control pull-left" value="Bie" name="productname">
	<ul class="list-group items">
  		<li class="list-group-item">
  			<span><b>Bie</b>r</span>
  		</li>
  		<li class="list-group-item">
  			<span><b>Bie</b>tjes</span>
  		</li>
  	</ul>
  	<div class="align-bottom">
  		<div class="row">
  			<div class="col-md-4">
	  			<label>Price €</label>
	  		</div>
	  		<div class="col-md-8">
	  			€<span class=price>0,00</span>
	  		</div>
	  	</div>
		<div class="btn-group">
			<button type="button" class="btn btn-default cart"><a>Get me my groceries!<a/></button>
			<button type="button" class="btn btn-default splash"><a>Go back</a></button>
		</div>
	</div>
</form>
