<div class="image">
  <img src="<%= image %>" />
</div>
<div class="meta">
  <h1><%= name %></h1>
  <p><%= price %>€</p>
</div>
<p class="add">
  <button class="btn remove-cart">+</button>
  <% if (typeof basketQuantity !== "undefined") { %>
    <span><%= basketQuantity %></span>
  <% } %>
  <button class="btn add-cart">+</button>
</p>