<div class="image">
  <img src="<%= image %>" />
</div>
<div class="meta">
  <h1><%= name %></h1>
  <p><%= price %>€</p>
</div>
<p class="add">
  <% if (typeof basketQuantity !== "undefined" && basketQuantity > 0) { %>
    <a href="#" class="remove-cart"><img src="/images/minus.png" width="22" height="22" alt="-" /></a>
    <span><%= basketQuantity %></span>
  <% } %>
    <a href="#" class="add-cart"><img src="/images/plus.png" width="22" height="22" alt="+" /></a>
</p>
