<div class="image">
  <img src="<%= image %>" style="max-height: 200px" />
</div>
<div class="meta">
  <h1><%= name %></h1>
  <p><%= price %>€</p>
  <p>
    <button class="btn add-cart">+</button>
    <% if (typeof quantity !== "undefined") { %>
      (<%= quantity %>)
    <% } %>
  </p>
</div>