<header class="app-header">
</header>
<div style="background-image:url('images/cover.jpg');background-size:320px auto;width:320px;height:320px;background-position:0px -40px"></div>
<div class="details" style="padding:0px 10px;text-align:center;">	
    <h1 style="margin:5px">Thank you!</h1>
    <p style="margin-bottom:10px">
    	Please rate your courier: 	
    </p>
    <img src="images/stars.png" style="margin-bottom:10px"><br>
    <button type="button" class="btn btn-default next"><a>Home</a></button>
</div>

