<p>Delivery - Your content here.</p>

<button type="button" class="btn btn-default previous"><a>Go back<a/></button>
<button type="button" class="btn btn-default next"><a>Great! Back to the homescreen!</a></button>
