<header class="app-header">
</header>
<div class="loader">
	<img src="/images/loader.gif" />
	<p>Finding your courier</p>
</div>
<form id="orderForm">
	<input id="order" 		name="order" 	type="hidden" value="Alberto order">
	<input id="lat"			name="lat"		type="hidden" value="52.3766227">
	<input id="lng" 		name="lng" 		type="hidden" value="5.2153397">
	<input id="customer" 	name="customer" type="hidden" value="Justin Halsall">
	<input id="phone" 		name="phone" 	type="hidden" value="06-12345678">
	<input id="address" 	name="address" 	type="hidden" value="P.J. Oudweg 61">
	<input id="city" 		name="city" 	type="hidden" value="Almere">
</form>