<p>Finding your courier<span class=progress>...</span></p>

<button type="button" class="btn btn-default previous"><a>Go back<a/></button>
<button type="button" class="btn btn-default next"><a>Next</a></button>
