<p>Finding your courier<span class=progress>...</span></p>
<form id="orderForm">
	<input name="order" 	type="hidden" value="Alberto order">
	<input name="lat"		type="hidden" value="52.3778803">
	<input name="lng" 		type="hidden" value="4.9163712">
	<input name="customer" 	type="hidden" value="Justin Halsall">
	<input name="phone" 	type="hidden" value="06-12345678">
	<input name="address" 	type="hidden" value="Pietheinkade 55">
	<input name="city" 		type="hidden" value="Amsterdam">
</form>
<button type="button" class="btn btn-default previous"><a>Go back<a/></button>
<button type="button" class="btn btn-default next"><a>Next</a></button>
