<div id="map">
</div>
<form role="form">
	<div class="row">
		<div class="col-md-4">
  			<span class="pull-left">City</span>
  		</div>
  		<div class="col-md-8">
  			<input type="text"  class="form-control" value="Amsterdam" name="city">
  		</div>
  	</div>
	<div class="row">
		<div class="col-md-4">
  			<span class="pull-left">Address</span>
  		</div>
  		<div class="col-md-8">
  			<input type="text"  class="form-control" value="Pietheinkade 55" name="address">
  		</div>
  	</div>
  	<div class="row">
		<div class="col-md-4">
  			<span class="pull-left">Details</span>
  		</div>
  		<div class="col-md-8">
  			<input type="text"  class="form-control" value="UP building, 18th floor" name="details">
  		</div>
  	</div>
  	<div class="row">
		<div class="col-md-8">
  			<label class="pull-left">Total</label>
  		</div>
  		<div class="col-md-2">
  			<label class="pull-right">€0,00</label>
  		</div>
  	</div>
  	<div class="align-bottom">
	  	<div class="btn-group">
			<button type="button" class="btn btn-default consumer"><a>Go back<a/></button>
			<button type="button" class="btn btn-default courier"><a>Go to payment</a></button>	
		</div>
	</div>

</form>