<div class="align-bottom">
	<h1>Choose your payment method:</h1>
	<ul>
		<li id="myorder"><span>MyOrder</span></li>
		<li id="ideal"><span>iDEAL</span></li>
		<li id="creditcard"><span>Credit Card</span></li>
	</ul>
  	<div class="btn-group">
		<button type="button" class="btn btn-default previous"><a>Go back<a/></button>
		<button type="button" class="btn btn-default next"><a>Pay</a></button>	
	</div>
</div>
