<ul class="list-group">
  <li class="list-group-item">
  	<span class="name">Bier</span>
  	<button class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></button>
  	<span class="price pull-right">€0,00</span>
  	<input type="text" style="width:35px" class="amount form-control pull-right" value="1">
  </li>
  <li class="list-group-item">
   	<span class="name">Bier</span>
  	<button class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></button>
  	<span class="price pull-right">€0,00</span>
  	<input type="text" style="width:35px" class="amount form-control pull-right" value="1">
  </li>
  <li class="list-group-item">
  	<span class="name">Bier</span>
  	<button class="btn pull-right"><span class="glyphicon glyphicon-remove"></span></button>
  	<span class="price pull-right">€0,00</span>
  	<input type="text" style="width:35px" class="amount form-control pull-right" value="1">
  </li>
  <li class="list-group-item">
  	<button class="btn btn-block">
  		<span class="pull-left glyphicon glyphicon-plus-sign"></span><span>Add item</span>
  	</button>
  </li>
</ul>
<div class="align-bottom">
	<div class="row bike-type">
		<div class="col-md-4">
  			<label>race</label>
  		</div>
  		<div class="col-md-4">
  			<label>transport</label>
  		</div>
  		<div class="col-md-4">
  			<label>bakfiets</label>
  		</div>
	</div>
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
	  </div>
	</div>
	<div class="row">
		<div class="col-md-8">
  			<span class="pull-left">Groceries</span>
  		</div>
  		<div class="col-md-2">
  			<span class="pull-right">€<span class=groceryprice>0,00</span></span>
  		</div>
  	</div>
  	<div class="row">
		<div class="col-md-8">
  			<span class="pull-left">Transport</span>
  		</div>
  		<div class="col-md-2">
  			<span class="pull-right">€<span class=transportprice>0,00</span></span>
  		</div>
  	</div>
  	<div class="row">
		<div class="col-md-8">
  			<label class="pull-left">Total</label>
  		</div>
  		<div class="col-md-2">
  			<label class="pull-right">€<span class=totalprice>0,00</span></label>
  		</div>
  	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-default previous"><a>Go back<a/></button>
		<button type="button" class="btn btn-default next"><a>Continue</a></button>
	</div>
</div>
