<ul class="list-group">
  <li class="list-group-item">
  	<img/> 
  	<span class="name">Bier</span> 
  	<input type="text" value="1">
  	<button class="btn pull-right"><span class="glyphicon glyphicon-remove"></span>
  </li>
  <li class="list-group-item">
  	<img/> Chips <button class="btn pull-right"><span class="glyphicon glyphicon-remove"></span>
  </li>
  <li class="list-group-item">
  	<img/> Peuken <button class="btn pull-right"><span class="glyphicon glyphicon-remove"></span>
  </li>
  <li class="list-group-item">
  	<button class="btn btn-block">
  		<span class="pull-left glyphicon glyphicon-plus-sign"></span><span>Add item</span>
  	</button>
  </li>	
</ul>

