<header class="app-header">
</header> 
<div id="map" class="map"><div class="loader"><img src="/images/loader.gif" /></div></div>
<h1>Your delivery is on its way!</h1>
<div id="data">
	<div class="person">
		<img id="profile" width="50" height="50" />
		<div class="meta">
			<h2 id="name"></h2>
			<p id="rating"><img src="/images/stars.png" alt="*****" width="85" height="15" /></p>
		</div>
	</div>
	<div class="time">
		<p><strong>Duration:</strong> <span id="duration"></span></p>
		<p><strong>Distance:</strong> <span id="distance"></span></p>
	</div>
	<button type="button" class="btn btn-default next">Confirm order received</button>
	<!-- dont touch this html below-->
	<form id="consumerLocation">
		<input type="hidden" id="consumer-lat" name="lat" value="52.4353461">
		<input type="hidden" id="consumer-lng" name="lng" value="4.8160673">
	</form>
</div>