<header class="app-header">
</header> 
<div id="map" class="map">loading map...</div>
duration:<span id="duration"></span><br>
distance:<span id="distance"></span><br>
<button type="button" class="btn btn-default previous"><a>Go back<a/></button>
<button type="button" class="btn btn-default next"><a>Next</a></button>
<!-- dont touch this html below-->
<form id="consumerLocation">
	<input type="hidden" id="consumer-lat" name="lat" value="52.3778803">
	<input type="hidden" id="consumer-lng" name="lng" value="4.9163712">
</form>