$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

$width: 320px;
$blue: #00a0e2;
$orange: #ff6400;

html, body {
    width: $width;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Dosis', sans-serif;
}

.clearfix {
    clear: both;
}

#splash {
    background-image: url(./../images/cover.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;

    .btn-group {
        position: absolute;
        bottom: 10px;
        text-align: center;
        width: $width;

        button {
            font-family: 'Dosis', sans-serif;
            font-size: 24px;
            background-color: $orange;
            border-radius: 6px;
            padding: 10px 20px 13px;
            width: 280px;
            border: 0;
            color: #FFF;
        }

        p {
            color: #FFF;
            font-size: 10px;
        }
    }
}

.app-header {
    background-image: url("./../images/header.jpg");
    background-size: 320px 64px;
    height: 64px;
}

.btn {
    font-family: 'Dosis', sans-serif;
    background-color: $orange;
    padding: 6px 20px;
    border-radius: 6px;
    border: 0;
    color: #FFF;
    font-size: 18px;
}

input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    border: 0;
    font-size: 12px;
    padding: 10px 10px 10px 15px;
    border-radius: 15px;
    outline: 0;
}

#add {

    header {
        background-color: $blue;
        padding: 10px;
        height: 60px;
    }

    .results {
        height: 340px;
        overflow-y: scroll;
        background-color: #FCFCFC;

        ul.items {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0;
                display: table-row;

                .image, .meta, .add {
                    border-bottom: 1px #EEE solid;
                }

                .image {
                    width: 80px;
                    height: 80px;
                    vertical-align: middle;
                    text-align: center;
                    padding: 15px;
                    display: table-cell;

                    img {
                        margin: 0 auto;
                        height: 50px;
                        max-width: 50px;
                    }
                }

                .meta {
                    display: table-cell;

                    h1 {
                        font-size: 20px;
                        margin: 16px 0 2px;
                    }

                    p {
                        margin: 0;
                    }
                }

                .add {
                    display: table-cell;
                    vertical-align: middle;
                    width: 100px;
                    text-align: right;
                    padding-right: 10px;

                    span {
                        width: 20px;
                        display: inline-block;
                        text-align: center;
                        position: relative;
                        top: -4px;
                        left: 1px;
                        font-size: 18px;
                    }

                    a {
                        padding: 10px;
                        margin: -10px;
                    }

                    .hidden {
                        display: none;
                    }
                }
            }
        }

    }

    .noresults {
        position: absolute;
        top: 280px;
        width: $width;
        text-align: center;
    }

    .order {
        height: 94px;
        background-color: #FFF;
        border-top: 1px #E9E9E9 solid;
        color: #000;

        canvas {
            /* scaled 50% for retina */
            width: 320px;
            height: 40px;
        }

        .priceinfo {
            font-size: 20px;
            float: left;
            margin-left: 20px;
            line-height: 60px;
        }

        .btn-group {
            float: right;
            line-height: 60px;
            padding-right: 10px;

        }
    }
}

.map {
  height: 250px;
}

.geo {
    position: relative;

    .details {
        width: 100%;
        min-height: 200px;
        background-color: #FCFCFC;

        h1 {
            font-size: 20px;
            padding: 10px;
            margin: 0 0 10px;
            background-color: $blue;
            color: #FFF;
        }

        .left {
            float: left;
            width: 33%;
            padding: 7px 0 0 10px;
        }

        .right {
            float: left;
            clear: right;
            width: 67%;
            padding-right: 10px;

            input {
                width: 100%;
                padding: 7px;
                border-radius: 6px;
                border: 1px $blue solid;
            }
        }

    }

    .priceinfo {
        position: absolute;
        left: 20px;
        bottom: -20px;
        width: 70px;
        height: 70px;
        line-height: 68px;
        background-color: $blue;
        text-align: center;
        border-radius: 50%;
        color: #FFF;
        font-size: 18px;
        z-index: 100;
    }

    .btn-group {
        border-top: 1px #DDD solid;
        padding-top: 14px;
        background-color: #FFF;
        width: 100%;
        position: absolute;
        text-align: right;
        bottom: -43px;
        padding-right: 10px;
    }
}

#findcourier {
    height: 100%;

    .loader {
        font-family: 'Dosis', sans-serif;
        text-align: center;
        color: #000;
        padding-top: 100px;
        background-color: #FCFCFC;
        height: 100%;

    }
}

#trackcourier {

    #map {
        background-color: #FCFCFC;

        .loader {
            width: 100%;
            text-align: center;
            padding-top: 100px;
        }
    }

    #data {
        display: none;
    }

    h1 {
        font-size: 20px;
        padding: 10px;
        margin: 0;
        background-color: $blue;
        color: #FFF;
    }

    .person {
        display: none;
        margin: 10px;

        #profile {
            display: table-cell;
            margin: 20px 0 0 20px;
        }

        .meta {
            display: table-cell;
            vertical-align: middle;
            padding-left: 10px;
            padding-top: 18px;

            h2 {
                font-size: 16px;
                margin: 0;
            }

            #rating {
                display: table-cell;
            }
        }
    }

    .time {
        padding: 0 20px 10px;

        p {
            margin: 10px 0;
        }

        strong {
            color: $blue;
        }
    }

    button {
        display: block;
        width: 250px;
        margin: 0 auto;
    }

}